/********************* NAVBAR STYLE ********************/
.mydiv{
    top: 0;
}
.navbar{
    background-color: rgb(2, 112, 30) !important;
}

.navbar .navbar-brand{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar .navbar-brand:hover{
    color: darkred !important;
}

.navbar .nav-item a{
    color: black !important;
    font-weight: bold;
}

.navbar .nav-item a:hover{
    color: darkred !important;
}

.navbar .btn{
    background-color: darkred !important;
    color: #ffffff !important;
    font-weight: bold;
}

.navbar .btn:hover{
    background-color: rgba(2, 112, 30, 0.788) !important;
}

.pageImg{
    margin-top: 73px;
}

/************************* NAVBAR STYLE END ********************/

/**************************** ABOUT STYLE *********************/
.About{
    color: rgba(2, 112, 30, 0.788);
    text-align: center;
    padding-top: 50px;
}

.missionImg{
    width: 30%;
    float: left;
    margin-right: 30px;
}

.missionpara{
    /* font-weight: bold; */
    font-size: 1rem;

}

.missiontext{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

/**************************** ABOUT STYLE END ***********************/

/*************************** VISION AND MISSION STYLE ****************/

.visionH1{
    color: rgba(2, 112, 30, 0.788);
    width: 50%;
    margin: auto;
    margin-top: 20px;
    
}

.visionH2{
    color: rgba(2, 112, 30, 0.788);
    width: 50%;
    margin: auto;
    margin-top: 20px;
    
}

.paraRex{
    width: 70%;
    /* font-weight: bold; */
    font-size: 1rem;
    line-height: 2;
    margin: auto;
    padding-top: 20px;
}

.paraRex2{
    width: 70%;
    /* font-weight: bold; */
    font-size: 1rem;
    line-height: 2;
    margin: auto;
    padding-top: 20px;
}

/*************************** VISION AND MISSION STYLE END ****************/


/**************************** FOOTER STYLE ****************************/
.footer{
    text-align: center;
    padding-top: 15px;
    background-color:  rgba(2, 112, 30, 0.788);
    height: 130px;
}

.footer a{
    color: #111111;
    text-decoration: none;
    margin: 15px;
}

.footer a:hover{
    color: darkred;
}

.footerPara{
    padding-top: 20px;
}