/********************* NAVBAR STYLE ********************/
.mydiv{
    top: 0;
}
.navbar{
    background-color: rgba(2, 112, 30, 0.788) !important;
}

.navbar .navbar-brand{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar .navbar-brand:hover{
    color: darkred !important;
}

.navbar .nav-item a{
    color: black !important;
    font-weight: bold;
}

.navbar .nav-item a:hover{
    color: darkred !important;
}

.navbar .btn{
    background-color: darkred !important;
    color: #ffffff !important;
    font-weight: bold;
}

.navbar .btn:hover{
    background-color: rgba(2, 112, 30, 0.788) !important;
}

.carousel{
    margin-top: 73px;
}

/************************* NAVBAR STYLE END ********************/

/**************************** CONTACT STYLE *********************/
.contact{
    color: rgba(2, 112, 30, 0.788) !important;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}
/**************************** CONTACT STYLE END *********************/

/**************************** ADDRESS AND FORM STYLE ***********************/

.addresstext1{
    color: rgba(2, 112, 30, 0.788);
}
p{
    color: #111111;
}
form{
    width: 70%;
    height: 300px;
}

input{
    outline: none;
    width: 80%;
    height: 40px;
    color: rgba(2, 112, 30, 0.788);
    border: none;
    border-bottom: solid 3px;
}

textarea{
    color: rgba(2, 112, 30, 0.788);
    width: 80%;
    height: 100px;
    outline: none;
    border: none;
    border-bottom: solid 3px;
}

.btn{
    background-color: darkred;
    color: #ffffff;
}

.btn:hover{
    background-color: rgba(2, 112, 30, 0.788)
}
/**************************** ADDRESS AND FORM STYLE END *********************/


/**************************** FOOTER STYLE ****************************/
.footer{
    text-align: center;
    padding-top: 15px;
    background-color:  rgba(2, 112, 30, 0.788);
    height: 150px;
}

hr{
    width: 50%;
    background-color: #ffffff;
    border-style: none;
}

.footer a{
    color: #111111;
    text-decoration: none;
    margin: 15px;
}

.footer a:hover{
    color: darkred;
}

.footerPara{
    padding-top: 20px;
}