/********************* NAVBAR STYLE ********************/
.mydiv{
    top: 0;
}

.navbar{
    background-color: rgb(2, 112, 30) !important;
}

.navbar .navbar-brand{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
}

.navbar .navbar-brand:hover{
    color: darkred !important;
}

.navbar .nav-item a{
    color: black !important;
    font-weight: bold;
}

.navbar .nav-item a:hover{
    color: darkred !important;
}

.navbar .btn{
    background-color: darkred !important;
    color: #ffffff !important;
    font-weight: bold;
}

.navbar .btn:hover{
    background-color: rgba(2, 112, 30, 0.788) !important;
}
.Factpic{
    margin-top: 73px;
}

/************************* NAVBAR STYLE END ********************/

/**************************** FACT STYLE *********************/

.fact{
    color: rgba(2, 112, 30, 0.788) !important;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

/************************** FACT AND VIDEO SECTION STYLE *******************/
iframe{
    width: 90%;
    height: 400px;
    padding-left: 50px;
}
.paragraph{
    width: 80%;
    text-align: left;
    line-height: 2;
    font-size: 1rem;
    /* font-weight: bold; */
}

h4{
    color: rgba(2, 112, 30, 0.788);
}

/**************************** FACT AND VIDEO SECTION STYLE END ******************/

/**************************** FACT AND IMAGE SECTION STYLE *********************/

.paraInfo{
    width: 80%;
    text-align: left;
    line-height: 2;
    font-size: 1rem;
    /* font-weight: bold; */
    padding-top: 50px;
}

.span{
    color: rgba(2, 112, 30, 0.788);
    font-weight: bold;
}

.svgImg{
    width: 90%;
    height: 400px;
    margin-right: 50px;
    padding-top: 50px;
}
/**************************** FACT AND IMAGE SECTION STYLE END *********************/

/**************************** CAUSES AND IMAGE SECTION STYLE *********************/

.causeImg{
    width: 70%;
    height: 400px;
    margin-top: 30px;
    margin-right: 50px;
    padding-top: 50px;
}

h2{
    color: rgba(2, 112, 30, 0.788);
    text-align: center;
    margin-top: 30px;
}

li{
    /* font-weight: bold; */
    line-height: 2;
}


/**************************** CAUSES AND IMAGE SECTION STYLE END *********************/


/**************************** FOOTER STYLE ****************************/
.footer{
    text-align: center;
    padding-top: 15px;
    background-color:  rgba(2, 112, 30, 0.788);
    height: 150px;
}

hr{
    width: 25%;
    border-style: none;
    border-top-style: dashed;
    border-width: 2px;
    border-color: black;
}

.footer a{
    color: #111111;
    text-decoration: none;
    margin: 15px;
}

.footer a:hover{
    color: darkred;
}

.footerPara{
    padding-top: 20px;
}